#include ".Xresources.d/nord"

rofi.color-enabled: true
rofi.line-padding: 2
rofi.color-window: #2f2f38, #688486, #688486
rofi.color-normal: #2f2f38, #688486, #2f2f38, #2f2f38, #cfd2cf
rofi.color-active: #2f2f38, #688486, #2f2f38, #2f2f38, #cfd2cf
rofi.color-urgent: #2f2f38, #688486, #2f2f38, #2f2f38, #cfd2cf

rofi.font: Droid Sans 10
